<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Capture the Flag at the Computer Club of
    Western Michigan University.">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='pure-skin-bootctf.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>{% block title %}{% endblock title %} – BootCTF</title>
</head>
<body class="pure-skin-bootctf">
{% block body %}{% endblock body %}
</body>
</html>
