{% extends "base.html" %}
{% block title %}Index{% endblock title %}
{% block body %}
    {% include "header.html" %}
    <div class="content">
        <h1>CCoWMU BootCTF</h1>
        <p>Welcome to BootCTF, the internal CTF playground of the Computer Club
        of Western Michigan University.</p>
        <h1>Who is your CTF and what does he do?</h1>
        <p>
        A
        <a href="http://en.wikipedia.org/wiki/Capture_the_flag#Computer_security">Capture
        the Flag</a>
        (CTF) is a computer security competition which consists of a series of
        challenges designed to emulate security vulnerabilities found in real
        world applications.
        </p>
        <p>Contestants may be challenged in a wide array of
        computer security related areas, such as Reverse-engineering, network
        sniffing, protocol analysis, system administration, programming, and
        cryptanalysis.
        </p>
    </div>
{% endblock body %}
